<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="row align-items-start">
        <!-- Left Side -->
        <div class="col bkgr">
            <div class="float-end"><br>
                <div class="list-group-item list-group-item-action">
                    <a href="#" class="a-decor">
                        <span><i class="fa-solid fa-house fs-4"></i>
                            <h6 class="d-inline px-3 fs-4">Home</h6>
                        </span>
                    </a>
                </div>
                <div class="list-group-item list-group-item-action">
                    <a href="#" class="a-decor">
                        <span><i class="fa-solid fa-hashtag fs-4"></i>
                            <h6 class="d-inline px-3 fs-4">Explore</h6>
                        </span>
                    </a>
                </div>
                <div class="list-group-item list-group-item-action">
                    <a href="#" class="a-decor">
                        <span><i class="fa-solid fa-bell fs-4"></i>
                            <h6 class="d-inline px-3 fs-4">Notifications</h6>
                        </span>
                    </a>
                </div>
                <div class="list-group-item list-group-item-action">
                    <a href="#" class="a-decor">
                        <span><i class="fa-solid fa-envelope fs-4"></i>
                            <h6 class="d-inline px-3 fs-4">Messages</h6>
                        </span>
                    </a>
                </div>
                <div class="list-group-item list-group-item-action">
                    <a href="#" class="a-decor">
                        <span><i class="fa-solid fa-bookmark fs-4"></i>
                            <h6 class="d-inline px-3 fs-4">Bookmarks</h6>
                        </span>
                    </a>
                </div>
                <div class="list-group-item list-group-item-action">
                    <a href="#" class="a-decor">
                        <span><i class="fa-solid fa-table-list fs-4"></i>
                            <h6 class="d-inline px-3 fs-4">Lists</h6>
                        </span>
                    </a>
                </div>
                <div class="list-group-item list-group-item-action">
                    <a href="#" class="a-decor">
                        <span><i class="fa-solid fa-user fs-4"></i>
                            <h6 class="d-inline px-3 fs-4">Profile</h6>
                        </span>
                    </a>
                </div>
                <div class="list-group-item list-group-item-action">
                    <a href="#" class="a-decor">
                        <span><i class="fa-solid fa-circle-info fs-4"></i>
                            <h6 class="d-inline px-3 fs-4">More</h6>
                        </span>
                    </a>
                </div>
                <br>
                <a href="#" class="list-group-item btn-info twit-btn btn">Tweet</a>
                <br>
            </div>
        </div>
        <!-- Middile -->
        <div class="col bkgr">
            <div class="main-header font-white">
                <div class="row profile-layout">
                    <div class="col-1 lh-3">
                        <div class="back-arrow d-flex">
                            <div class="mx-auto">
                                <i class="fa-solid fa-arrow-left"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-11">
                        <div class="lh-base">
                            <h5 class="fs-5">Username</h5>
                            <h6 class="fw-light lh-0 font-light-grey">2.220 Tweet</h6>
                        </div>
                    </div>
                </div>
                <div class="main-profile">
                    <div class="profile-background">
                        <img src="https://pbs.twimg.com/profile_banners/1110629292436787202/1553715768/600x200" width="100%" alt="">
                    </div>
                    <div class="position-relative">
                        <div class="position-absolute bottom-0 start-50 translate-middle-x">
                            <div class="bg-light p-3 profile-photo profile-pos">
                              <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" class="profile-photo-set" alt="">
                            </div>
                        </div>
                    </div> 
                    <div class="profile-about mx-4">
                        <div class="row mt-7">
                            <div class="col-2">
                                <h3>username</h3>
                                <h6 class="fw-light lh-0 font-light-grey">@username</h6>
                            </div>
                        </div>
                        <div class="profile-desc mt-4">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
                        </div>
                        <div class="profil-detail mt-1">
                            <div class="mt-2">
                                <div class="d-inline">
                                    <p class="d-inline fw-light lh-0 font-light-grey">Location</p>
                                </div>
                                <div class="d-inline">
                                    <p class="d-inline fw-light lh-0 font-light-grey">Joined</p>
                                </div>
                                <div class="d-inline">
                                    <p class="d-inline fw-light lh-0 font-light-grey">Birthday</p>
                                </div>
                            </div>
                            <div class="mt-3">
                                <div class="d-inline">
                                    <p class="d-inline">200</p>
                                    <p class="d-inline fw-light lh-0 font-light-grey">Following</p>
                                </div>
                                <div class="d-inline">
                                    <p class="d-inline">8</p>
                                    <p class="d-inline fw-light lh-0 font-light-grey">Followers</p>
                                </div>
                            </div>
                            <div class="tablist mt-4">
                                <div class="row text-center">
                                    <div class="col">
                                        <div class="profile-detail-borderbottom">
                                            <h6>Tweets</h6>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div>
                                            <h6>Comments</h6>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div>
                                            <h6>Media</h6>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div>
                                            <h6>Like</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main">
                <div>
                    <div class="twit">
                        <div class="card">
                            <div class="row g-8"><br>
                                <div class="col-auto"><img src="https://i.redd.it/oq8e1utnl0651.jpg" class="border-rad" alt="..."></div>
                                <div class="col">
                                    <div class="card-body">
                                        <span class="card-title fw-bold">
                                            <a class="card-title" href="#">Test</a>
                                        </span>
                                        <span class="card-subtitle mb-2 text-muted">@Test</span>
                                        <span class="card-subtitle mb-2 text-muted"> 0:18h</span>
                                        <span class="float-end post-info dropdown">
                                            <i class="fa-solid fa-circle-info"></i>
                                            <div class="dropdown-content"><br>
                                                <p><i class="fa-regular fa-trash-can"></i>Delete Tweet</p>
                                            </div>
                                        </span>
                                        <p class="card-text">utkay firat çok iyi bir yazilimci</p>
                                        <img src="https://utkayfirat.com/assets/img/apps/blog-website-30-mayis-2022.jpg" class="card-img-bottom rounded-1" alt="">
                                    </div>
                                    <div class="interection">
                                        <div class="inter d-inline p-3">
                                            <span class="icon"><i class="fa-regular fa-comment"></i></span>
                                            <span class="cul">0</span>
                                        </div>
                                        <div class="inter d-inline p-3">
                                            <span class="icon"><i class="fa-solid fa-retweet"></i></span>
                                            <span class="cul">0</span>
                                        </div>
                                        <div class="inter d-inline p-3">
                                            <span class="icon"><i class="fa-regular fa-heart"></i></span>
                                            <span class="cul">0</span>
                                        </div>
                                        <div class="inter d-inline p-3">
                                            <span class="icon"><i class="fa-solid fa-arrow-up-from-bracket"></i></span>
                                            <span class="cul">0</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right Side -->
        <div class="col bkgr"><br>
            <div class="search">
                <input class="search-bar" type="text" placeholder="Search Twitter">
            </div><br>
            <div class="follows rounded-4">
                <h5>Who to follow</h5>
                <div class="cal-4">
                    <div class="follow row g-0">
                        <div class="col-2 follow-image">
                            <img src="https://i.redd.it/oq8e1utnl0651.jpg" class="image50" alt="...">
                        </div>
                        <div class="col-7 follow-info">
                            <span class="fw-bolder">testUsername</span> 
                            <br>
                            <span>@testUsername</span>
                        </div>
                        <div class="col-2 align-items-center col-auto d-flex">
                            <a href="#" class="btn follow-btn fw-bolder">Follow</a>
                        </div>
                    </div>
                </div><br>
            </div><br>
            <div class="trends rounded-4">
                <h5>Trends For You</h5>
                <div class="cal-4">
                    <div class="trend">
                        <span class="card-subtitle mb-2">Trending in Turkey</span>
                        <div>
                            <span class="fw-bolder">Trend</span>
                        </div>
                        <span class="card-subtitle mb-2">21K Tweets</span>
                    </div>
                </div><br>
            </div><br>
        </div>
    </div>
</body>
</html>