
<div class="modal-body">
    <div class="login-modal">
        <h1>Create account</h1><br>
        <form>
            <div class="mb-3">
                <input type="text" class="pass-username" placeholder="Username" value="">
            </div>
            <div class="mb-3">
                <input type="text" class="pass-username" placeholder="Email" value="">
            </div>
            <div>
                <input type="password" class="pass-username" placeholder="Password" value="">
            </div>
            <div class="mb-3">
                <input type="date" name="" id="" class="pass-username">
            </div>
            <button type="submit" class="btn btn-primary modal-login-button">Register</button><br>
        </form>
    </div>
</div>
<br>